  .message {
    display: flex;
    margin: 1%;
    
  }
  
  .currentMemberMessage {
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: right;
    margin: 1%
  }
  
  .content {
    display: inline-block;
  }
  
  .currentMemberMessage > .content {
    align-items: flex-end;
  }
  .content > .username {
    display: block;
    color: rgb(60, 52, 172);
    font-size: 12px;
    padding-bottom: 3px;
  }
  
  .text {
    padding: 10px;
    
    border-radius: 12px;
    color: rgb(3, 3, 3);
    display: inline-block;
  }
  .list {
    padding: 15px 0;
    padding-left: 0;
    max-width: 900px;
    width: 100%;
    list-style: none;
    flex-grow: 1;
    overflow: auto;
  }